.sections .btn{
    background-color: rgb(43, 43, 43);
    border:0px;
}
.cards-section{
    margin-bottom:50px;
}
.cards-section h3{
    color: white;
}
.spotify-card{
    min-width:210px;
    max-width:210px;
    flex:0 0 210px;

    padding:14px;
    border-radius:8px;
    cursor:pointer;
    transition:0.2s;
}

.spotify-card:hover{
    background:#1d1d1d;
}
.spotify-card img{
    width:100%;
    aspect-ratio:1;
    object-fit:cover;
    border-radius:8px;
}

.spotify-card-body{
    margin-top:12px;
}

.spotify-card-body h6{
    margin-top:12px;
    color:white;
    font-size:16px;
    font-weight:700;

    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    overflow:hidden;
}

.spotify-card-body p{
    margin-top:6px;
    color:#b3b3b3;
    font-size:13px;
    line-height:18px;

    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    overflow:hidden;
}
.songs-row{
    display:flex;
    gap:24px;
    overflow-x:auto;
    overflow-y:hidden;
    flex-wrap:nowrap;
    scroll-behavior:smooth;
    scrollbar-width:none;
    padding-bottom:10px;
}
.songs-row::-webkit-scrollbar{
    display:none;
}
.mainmusic{
    flex:1;
    overflow-x:hidden;
}